# WalletConnect Cloud project ID — optional (mobile QR pairing only)
NEXT_PUBLIC_WC_PROJECT_ID=

# Target chain (default: Sepolia)
NEXT_PUBLIC_CHAIN_ID=11155111

# Deployed contract addresses (Sepolia)
NEXT_PUBLIC_NFT_ADDRESS=0xD341843212948Bac40dAE9bd2992081309478F23
NEXT_PUBLIC_VAULT_ADDRESS=0xD1dA053FDEF663919307b135bbd33A92D2ccF596
NEXT_PUBLIC_USDC_ADDRESS=0x3eFB0d0838f7e51a64B7722e2260F13c930C8684

# Optional custom RPC
NEXT_PUBLIC_RPC_URL=
