# WalletConnect Cloud project ID — optional (mobile QR pairing only)
NEXT_PUBLIC_WC_PROJECT_ID=

# Target chain (default: Sepolia)
NEXT_PUBLIC_CHAIN_ID=11155111

# Deployed contract addresses (Sepolia)
NEXT_PUBLIC_NFT_ADDRESS=0x61594E6CA83A29332581Ac71F2e8140Fb91dd363
NEXT_PUBLIC_VAULT_ADDRESS=0x9F7697aCf2e240E687b743Eb5631d36C12Fc105f
NEXT_PUBLIC_USDC_ADDRESS=0xBF8821AEd892B8D693f2C0B1921810A99EAF5193

# Optional custom RPC
NEXT_PUBLIC_RPC_URL=
